apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - nginx-dpl.yaml
  - nginx-svc.yaml

commonLabels:
  app: kubernetes-app
namePrefix: app-name-
nameSuffix: -dev
commonAnnotations:
  ann: kuber-ann

images:
  - name: nginx
    newName: haproxy
    newTag: "2.0"
namespace: notDefault