apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - nginx-dpl.yaml
  - nginx-svc.yaml

commonLabels:
  app: kubernetes-app
# namePrefix: app-name-
# nameSuffix: -dev
commonAnnotations:
  ann: kuber-ann

images:
  - name: nginx
    newName: haproxy
    newTag: "2.0"

namespace: notDefault

patches: # json 6902 patch
  - target:
      kind: Deployment
      name: nginx-deployments
    patch: |-
      - op: replace
        path: /metadata/name
        value: web-deployment
      - op: replace
        path: /spec/replicas
        value: 3
  - patch: |- # strategic merge patch
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: nginx-deployments
      spec:
        replicas: 2
  # - patch: # add operation
  # - patch: # remove operation